@using Hot_Pot_Restaurant_Management_System.Models.ViewModels;
@model UserViewResult
@{ ViewBag.Title = "Change password"; Layout = "~/Views/Shared/System_Layout.cshtml"; }

<td>
    <div id="divMenu">
        <table id="tableMenu">
            <tr class="trMenu">
                <td class="tdMenu"><a href="~/user/index">User query</a></td>
            </tr>
            <tr class="trMenu">
                <td class="tdMenu"><a href="~/user/addpage">New users</a></td>
            </tr>
        </table>
    </div>
</td>
<td id="tdContent">
    <div id="divContent">
        <div>
            @{ Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "formPost" }); }

            <div>
                @Html.HiddenFor(w => w.ID)
                @Html.HiddenFor(w => w.UserName)

                <label for="Password">New password</label>
                @Html.PasswordFor(w => w.Password)

                <br />
                <br />

                <label for="Repeat">Confirm the entry</label>
                <input data-val="true" data-val-required="Missing password confirmation" id="Repeat" name="Repeat" type="password" />
            </div>

            <div id="divValidation" class="validation-summary-errors">
                <ul id="ulValidation"></ul>
            </div>
            <div>@Html.ValidationSummary()</div>
            <br />
            <input type="submit" value="Save changes" class="inputSubmit" onclick="return EncryptPassword()" />
            @{ Html.EndForm(); }
        </div>
    </div>
</td>






