@{
    ViewBag.Title = "Select the table number";
    Layout = "~/Views/Shared/Bill_Layout.cshtml";
}

<div id="divContent">
    <div>
        @{ Html.BeginForm("discountpage", "bill", FormMethod.Post); }
        <label>Table number</label>
        <input id="TableID" name="TableID" type="text" />
        <div>@Html.ValidationSummary()</div>
        <br />
        <input type="submit" value="Save" class="inputSubmit" />
        @{ Html.EndForm(); }
    </div>
</div>
